.service-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  grid-area: service;
  .service {
    button {
      margin: 12px 0;
      padding: 12px 0;
      width: 100%;
      background: $red;
      color: white;
      span {
        font-size: 15px;
        font-weight: 500;
      }
    }
    ul {
      margin-bottom: 16px;
      li {
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;
        line-height: 1.5;
        &::before {
          content: "";
          position: absolute;
          left: 2px;
          top: 5px;
          width: 3px;
          height: 6px;
          border: solid black;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
    .terms {
      font-size: 15px;
      font-style: italic;
    }
  }
  .contact {
    .heading {
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 12px;
    }
  }
  .recommendations {
    .heading {
      margin-bottom: 0 !important;
    }
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .related-service {
      display: flex;
      column-gap: 20px;
      img {
        height: 100px;
      }
      .related-service-info {
        display: flex;
        flex-direction: column;
        h3 {
          margin-bottom: 8px;
          font-weight: 500;
        }
      }
    }
  }
}
