@media only screen and (max-width: 1365px) {
  $content-width: 1000px;

  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
    .gallery {
      .image img {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  $content-width: 800px;

  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
    .content {
      grid-template-columns: 0.5fr 0.5fr !important;
    }
    .gallery .image-container {
      flex-wrap: wrap;
      row-gap: 28px;
      .image {
        img {
          width: 230px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 979px) {
  $content-width: 600px;

  body#profile {
    nav {
      grid-template-columns: 0.3fr 0.7fr !important;
      div {
        display: none;
      }
    }

    .profile-content,
    .content {
      width: $content-width !important;
    }
    .image {
      // removing image just for demo purposes (
      &:nth-child(3) {
        display: none !important;
      }
      img {
        width: 310px !important;
      }
    }
    .review-section {
      .rating-percentage {
        display: none;
      }
      .ratings-summary :nth-child(2) {
        text-align: center;
      }
      .review-heading {
        margin-bottom: 4px;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
      }
      .fa-star {
        font-size: 15px;
      }
    }
    .related-service {
      flex-direction: column;
      img {
        margin-bottom: 16px;
        width: auto;
        height: auto;
      }
    }
  }
}

// small sized tablets
@media only screen and (max-width: 699px) {
  $content-width: 500px;
  body#profile {
    .profile-content {
      row-gap: unset !important;
      img {
        margin-top: -70px !important;
      }
      a {
        align-self: center !important;
      }
      .company {
        text-align: center;
      }
      .profile-info {
        flex-direction: column;
        justify-content: space-between;
      }
      .company-stats {
        p {
          text-align: center;
        }
      }
    }
    .profile-content,
    .content {
      width: $content-width !important;

      column-gap: 40px;
      row-gap: 40px;
      grid-template-areas:
        "about"
        "gallery"
        "ratings"
        "service" !important;
      grid-template-rows: unset !important;
      grid-template-columns: unset !important;
      align-self: center;

      .gallery .image {
        &:nth-child(3) {
          display: unset !important;
        }
        img {
          width: 210px !important;
        }
      }
    }
    .related-service {
      flex-direction: initial;
      img {
        margin-bottom: 16px;
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  $content-width: 350px;

  body#profile {
    nav {
      grid-template-columns: 0.4fr 0.6fr !important;
    }
    .profile-content,
    .content {
      width: $content-width !important;
    }
    .gallery .image-container {
      flex-wrap: wrap;
      row-gap: 28px;
      .image {
        &:nth-child(3) {
          display: none !important;
        }
        img {
          width: 300px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  $content-width: 350px;
  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
  }
}

@media only screen and (max-width: 400px) {
  $content-width: 300px;
  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;

      .gallery .image {
        img {
          width: 250px !important;
        }
      }
    }
  }
}
