body#profile {
  display: flex;
  align-items: center;
  flex-direction: column;

  nav {
    height: 75px;
    width: calc(100% - 100px);
    margin-bottom: 40px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    img {
      height: 30px;
    }
    form {
      display: flex;
    }
    button {
      margin-left: -40px;
      padding: 0 12px;
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
    input {
      padding: 0 40px 0 12px;
      height: 40px;
      width: 100%;
      background: #f1f4f4;
      border: none;
      border: 1px solid #f1f4f4;
      border-radius: 12px;
      font-size: 15px;
      outline: none;
      &:focus {
        border: 1px solid #444;
      }
      transition: 0.1s ease-in-out;
    }
  }

  .container {
    width: 800px;
    display: grid;
    grid-template-areas:
      "profile profile"
      "about service"
      "gallery service"
      "ratings service";
  }

  .section {
    border: 1px solid darkolivegreen;
    background: greenyellow;
    min-height: 20px;
    min-width: 20px;
  }

  .profile {
    height: 200px;
    grid-area: profile;
  }
  .about {
    height: 140px;
    grid-area: about;
  }
  .gallery {
    height: 140px;
    grid-area: gallery;
  }
  .ratings {
    height: 360px;
    grid-area: ratings;
  }
  .service-section {
    grid-area: service;
    .service {
      height: 180px;
    }
    .contact {
      height: 140px;
    }
    .recommendations {
      height: 140px;
    }
  }

  footer {
    height: 200px;
  }
}
