@media only screen and (max-width: 1365px) {
  $content-width: 1000px;

  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
    .gallery {
      .image img {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  $content-width: 800px;

  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
    .gallery .image-container {
      flex-wrap: wrap;
      row-gap: 28px;
      .image {
        img {
          width: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  $content-width: 600px;

  body#profile {
    .profile-content,
    .content {
      width: $content-width !important;
    }
  }
}
