$red: #cc1634;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

.container {
  width: 700px;
  padding: 32px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 12px;
}

#form-title {
  width: max-content;
}

hr {
  margin: 28px 0;
  border: none;
  border-top: 1px solid #cacaca;
}

form {
  .form-header {
      display: flex;
      align-items: center;
      column-gap: 10px;
    #form-question {
      font-weight: 500 !important;
    }
  }

  textarea {
    resize: none;
    height: calc(5 * 15px * 1.5); //rows * font size * line height
    margin: 20px 0;
    padding: 8px;
    width: calc(100% - 16px);
    background: #f2f2f2;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    &:focus {
      outline: none;
    }
  }
  .form-buttons {
    display: flex;
    justify-content: space-between;
    button {
      padding: 4px 8px;
      background: $red;
      color: white;
      border: 1px solid $red;
      border-radius: 4px;
      cursor: pointer;
      span {
        font-size: 14px;
        font-family: "Roboto Mono", monospace;
      }
    }
  }
}
