* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body#request {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

body#request .container {
  width: 700px;
  padding: 32px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 12px;
}

body#request #form-title {
  width: max-content;
}

body#request hr {
  margin: 28px 0;
  border: none;
  border-top: 1px solid #cacaca;
}

body#request form .form-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

body#request form .form-header #form-question {
  font-weight: 500 !important;
}

body#request form textarea {
  resize: none;
  height: calc(5 * 15px * 1.5);
  margin: 20px 0;
  padding: 8px;
  width: calc(100% - 16px);
  background: #f2f2f2;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
}

body#request form textarea:focus {
  outline: none;
}

body#request form .form-buttons {
  display: flex;
  justify-content: space-between;
}

body#request form .form-buttons button {
  padding: 4px 8px;
  background: #cc1634;
  color: white;
  border: 1px solid #cc1634;
  border-radius: 4px;
  cursor: pointer;
}

body#request form .form-buttons button span {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

@media only screen and (max-width: 1365px) {
  body#profile .profile-content,
  body#profile .content {
    width: 1000px !important;
  }
  body#profile .gallery .image img {
    width: 120px;
  }
}

@media only screen and (max-width: 1199px) {
  body#profile .profile-content,
  body#profile .content {
    width: 800px !important;
  }
  body#profile .content {
    grid-template-columns: 0.5fr 0.5fr !important;
  }
  body#profile .gallery .image-container {
    flex-wrap: wrap;
    row-gap: 28px;
  }
  body#profile .gallery .image-container .image img {
    width: 230px !important;
  }
}

@media only screen and (max-width: 979px) {
  body#profile nav {
    grid-template-columns: 0.3fr 0.7fr !important;
  }
  body#profile nav div {
    display: none;
  }
  body#profile .profile-content,
  body#profile .content {
    width: 600px !important;
  }
  body#profile .image:nth-child(3) {
    display: none !important;
  }
  body#profile .image img {
    width: 310px !important;
  }
  body#profile .review-section .rating-percentage {
    display: none;
  }
  body#profile .review-section .ratings-summary :nth-child(2) {
    text-align: center;
  }
  body#profile .review-section .review-heading {
    margin-bottom: 4px;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
  }
  body#profile .review-section .fa-star {
    font-size: 15px;
  }
  body#profile .related-service {
    flex-direction: column;
  }
  body#profile .related-service img {
    margin-bottom: 16px;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 699px) {
  body#profile .profile-content {
    row-gap: unset !important;
  }
  body#profile .profile-content img {
    margin-top: -70px !important;
  }
  body#profile .profile-content a {
    align-self: center !important;
  }
  body#profile .profile-content .company {
    text-align: center;
  }
  body#profile .profile-content .profile-info {
    flex-direction: column;
    justify-content: space-between;
  }
  body#profile .profile-content .company-stats p {
    text-align: center;
  }
  body#profile .profile-content,
  body#profile .content {
    width: 500px !important;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-areas: "about" "gallery" "ratings" "service" !important;
    grid-template-rows: unset !important;
    grid-template-columns: unset !important;
    align-self: center;
  }
  body#profile .profile-content .gallery .image:nth-child(3),
  body#profile .content .gallery .image:nth-child(3) {
    display: unset !important;
  }
  body#profile .profile-content .gallery .image img,
  body#profile .content .gallery .image img {
    width: 210px !important;
  }
  body#profile .related-service {
    flex-direction: initial;
  }
  body#profile .related-service img {
    margin-bottom: 16px;
    height: 100px;
  }
}

@media only screen and (max-width: 599px) {
  body#profile nav {
    grid-template-columns: 0.4fr 0.6fr !important;
  }
  body#profile .profile-content,
  body#profile .content {
    width: 350px !important;
  }
  body#profile .gallery .image-container {
    flex-wrap: wrap;
    row-gap: 28px;
  }
  body#profile .gallery .image-container .image:nth-child(3) {
    display: none !important;
  }
  body#profile .gallery .image-container .image img {
    width: 300px !important;
  }
}

@media only screen and (max-width: 450px) {
  body#profile .profile-content,
  body#profile .content {
    width: 350px !important;
  }
}

@media only screen and (max-width: 399px) {
  body#profile .profile-content,
  body#profile .content {
    width: 300px !important;
  }
  body#profile .profile-content .company-stats p,
  body#profile .content .company-stats p {
    float: right;
    width: max-content;
  }
  body#profile .profile-content .gallery .image img,
  body#profile .content .gallery .image img {
    width: 250px !important;
  }
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 16px 16px;
}

.profile .profile-banner {
  height: 240px;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile .profile-content {
  display: flex;
  flex-direction: column;
}

.profile .profile-content img {
  width: 120px;
  margin-top: -90px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile .profile-content .profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 36px;
}

.profile .profile-content .profile-info .company {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.profile .profile-content .profile-info .company p.company-name {
  font-size: 24px;
  font-weight: 500;
}

.profile .profile-content .profile-info .company .company-description {
  display: flex;
  align-items: center;
}

.profile .profile-content .profile-info .company .company-description i.fa-check {
  margin: 0 4px 0 12px;
  font-size: 12px;
}

.profile .profile-content .profile-info .company .company-description span.verified {
  font-weight: 500;
}

.profile .profile-content .profile-info .company-stats {
  display: flex;
  column-gap: 20px;
  justify-content: right;
  align-items: center;
}

.profile .profile-content .profile-info .company-stats .line {
  height: 50px;
  background: black;
  border-right: 1px solid black;
}

.profile .profile-content .profile-info .company-stats p.stats-num {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  text-align: right !important;
}

.profile .profile-content .profile-info .company-stats #rating-count {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 4px;
}

.profile .profile-content .profile-info .company-stats .fa-star {
  font-size: 12px;
}

.gallery {
  grid-area: gallery;
}

.gallery .image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery .image-container .image {
  position: relative;
}

.gallery .image-container .image img {
  width: 150px;
}

.gallery .image-container .image #view-all {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.gallery .image-container .image #view-all span {
  font-size: 16px;
}

.gallery .image-container .image #view-all .img-num {
  font-size: 20px;
}

.review-section .ratings {
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  grid-template-areas: "5star summary" "4star summary" "3star summary" "2star summary" "1star summary";
  grid-template-columns: auto 25%;
}

.review-section .ratings .five-star {
  grid-area: "5star";
}

.review-section .ratings .four-star {
  grid-area: "4star";
}

.review-section .ratings .three-star {
  grid-area: "3star";
}

.review-section .ratings .two-star {
  grid-area: "2star";
}

.review-section .ratings .one-star {
  grid-area: "1star";
}

.review-section .ratings .ratings-summary {
  grid-area: summary;
}

.review-section {
  grid-area: ratings;
}

.review-section .ratings {
  margin-bottom: 28px;
}

.review-section .ratings .star {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.review-section .ratings .star span {
  width: max-content !important;
}

.review-section .ratings .star .bar {
  width: 100%;
  position: relative;
}

.review-section .ratings .star .bar hr {
  height: 8px;
  border: none;
  border-radius: 12px;
}

.review-section .ratings .star .bar hr.accent {
  margin-top: -8px;
  position: absolute;
  width: 95%;
  background: #dadada;
  z-index: 3 !important;
}

.review-section .ratings .star .bar hr.background {
  background: #aaa;
  z-index: -1;
}

.review-section .ratings .ratings-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-section .ratings .ratings-summary .average-rating {
  font-size: 32px;
  font-weight: 500;
}

.review-section .compliments {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
}

.review-section .compliments .compliment {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: #dadada;
  border-radius: 20px;
}

.review-section .compliments .compliment .compliment-title {
  padding: 0 12px 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.review-section .compliments .compliment .compliment-count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 14px;
  font-weight: 500;
  background: #aaa;
  border-radius: 50%;
}

.review-section .reviews {
  display: flex;
  flex-direction: column;
}

.review-section .reviews .more-reviews {
  margin: 4px 0;
  font-weight: 500;
  font-size: 14px;
}

.review-section .reviews .review {
  margin-bottom: 24px;
  display: grid;
  column-gap: 16px;
  grid-template-areas: "review-pic review-heading" "review-pic review-stars" "review-pic review-text";
  grid-template-columns: max-content 1fr;
}

.review-section .reviews .review .review-pic {
  border-radius: 50%;
  grid-area: review-pic;
}

.review-section .reviews .review .review-heading {
  display: flex;
  align-items: center;
  column-gap: 8px;
  row-gap: 4px;
  grid-area: review-heading;
}

.review-section .reviews .review .review-heading .review-name {
  font-weight: 500;
}

.review-section .reviews .review .review-heading .review-date {
  font-size: 13px;
  font-weight: 500;
  color: #666;
}

.review-section .reviews .review .review-stars {
  margin-top: 4px;
  color: #fcbc47;
  grid-area: review-stars;
}

.review-section .reviews .review .review-text {
  margin-top: 8px;
  grid-area: review-text;
}

.service-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  grid-area: service;
}

.service-section .service button {
  margin: 12px 0;
  padding: 12px 0;
  width: 100%;
  background: #cc1634;
  color: white;
}

.service-section .service button span {
  font-size: 15px;
  font-weight: 500;
}

.service-section .service ul {
  margin-bottom: 16px;
}

.service-section .service ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  line-height: 1.5;
}

.service-section .service ul li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.service-section .service .terms {
  font-size: 15px;
  font-style: italic;
}

.service-section .contact .heading {
  margin-bottom: 4px;
}

.service-section .contact p {
  margin-bottom: 12px;
}

.service-section .recommendations {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.service-section .recommendations .heading {
  margin-bottom: 0 !important;
}

.service-section .recommendations .related-service {
  display: flex;
  column-gap: 20px;
}

.service-section .recommendations .related-service img {
  height: 100px;
}

.service-section .recommendations .related-service .related-service-info {
  display: flex;
  flex-direction: column;
}

.service-section .recommendations .related-service .related-service-info h3 {
  margin-bottom: 8px;
  font-weight: 500;
}

body#profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body#profile nav {
  height: 75px;
  width: calc(100% - 100px);
  padding: 0 50px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

body#profile nav img {
  height: 25px;
}

body#profile nav form {
  display: flex;
}

body#profile nav button {
  margin-left: -40px;
  padding: 0 12px;
  font-size: 16px;
}

body#profile nav input {
  padding: 0 40px 0 12px;
  height: 40px;
  width: 100%;
  background: #f1f4f4;
  border: none;
  border: 1px solid #f1f4f4;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  transition: 0.1s ease-in-out;
}

body#profile nav input:focus {
  border: 1px solid #444;
}

body#profile .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

body#profile .profile-content,
body#profile .content {
  width: 1200px;
}

body#profile .content {
  width: 1200px;
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-areas: "about service" "gallery service" "ratings service";
  grid-template-rows: auto auto auto;
  grid-template-columns: 0.6fr 0.4fr;
  align-self: center;
}

body#profile .content p {
  line-height: 1.5;
}

body#profile .section {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #aaa;
}

body#profile .section .heading {
  margin-bottom: 12px;
  font-weight: 500;
}

body#profile .about {
  grid-area: about;
}

body#profile footer {
  height: 200px;
}

.no-style {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */